:root {
    /* Paleta de colores  */
    --color1: #ce6b59;
    --color2: #d79264;
    --color3: #eec58f;
    --color4: #f8eec6;
    --color5: #f8efea;
    }

* {font-family: 'Epilogue', sans-serif;}

a:link, a:visited, a:active {
    text-decoration:none;
}

body {
    background-color: var(--color5);

    color : var(--color1);

    margin: 0ch;

    }

div.sticky {
        position: sticky;
        top: 0;
}

header {
    background-image : linear-gradient(var(--color4),var(--color5));
    font-family: 'Anton', sans-serif;
    }

header h1 {
    font-size: max(3vw, 20px);

    font-weight: bold;

    text-decoration : none;

    padding: 2ch 5ch 0ch 5ch;

    margin: 0ch;

    text-align : center;

    }

header h2 {
    font-size: max(1.5vw, 14px);

    text-decoration : none;

    padding: 1vw 10vw 1vw;

    margin: 0ch;

    text-align : center;

    }

header > p {
        font-size: max(2vw, 17px);

        font-weight: bold;

        margin: 0;

        padding: 0.05vw;

        text-align : center;

        }

section > p strong {
    font-size: max(14px, 1.5vw);

        }


nav {
    font-size: max(1vw, 10px);
    text-align: center;
    margin: 0;
    padding: 0.5%;
}

main {
    text-align: center;
}

footer {
    padding: 1%;
    text-align: center;

}

.oferta {
    transition-property: all;
    transform-style: flat;
    transition-duration: 2s;
    padding: 1% 10% 0% 10%;
}

.oferta:hover {

    background: var(--color2); color: var(--color5);

}

form {
    padding: 1%;
    text-align: left;
    width: 80%;
    margin: 0 auto;
  }

label + input {
    width: 100%;
    display: inline-block;
  }

#contenedor {
border: black;
display: flex;
flex-direction: column;
padding: 1%;
align-content: flex-end;

}

.container-fluid{
    margin: 0;
    padding: 0;
   }

.item > section {
padding: 5%;
width: 90%;
justify-content:space-evenly;
display: inline-flex;

}

img {
    max-height: 150px;
    max-width: 100%;
    border-radius: 20%;
    display: inline-flex;
}

.card {
    font-size: 90%;
    background-color: var(--color4);
}

/* @media only screen and (max-width: 600px) {
    body, .card {
        background-color: var(--color2);
        color : var(--color4);
    }
    img {
        display: none;
    }
  }

  @media only screen and (max-width: 400px) {
    body, .card {
        background-color: var(--color1);
        color : var(--color5);
    }

  } */
